<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{workflowStep.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{workflowStep.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/workflowSteps}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2">[[#{workflowStep.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('workflowStep')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='workflowStep', field='workflowStepId', disabled=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='workflowStep', field='stepType', required=true, type='radio')}" />
                <div th:replace="~{fragments/forms::inputRow(object='workflowStep', field='condition')}" />
                <div th:replace="~{fragments/forms::inputRow(object='workflowStep', field='actionType', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='workflowStep', field='actionDetails')}" />
                <div th:replace="~{fragments/forms::inputRow(object='workflowStep', field='deleteAt', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='workflowStep', field='workflowId', required=true, type='select')}" />
                <input type="submit" th:value="#{workflowStep.edit.headline}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
            </form>
        </div>
    </body>
</html>
