<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{sMSConfig.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{sMSConfig.list.headline}]]</h1>
                <div>
                    <a th:href="@{/sMSConfigs/add}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2">[[#{sMSConfig.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${sMSConfigs.empty}">[[#{sMSConfig.list.empty}]]</div>
            <div th:if="${!sMSConfigs.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left p-2">[[#{sMSConfig.configId.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{sMSConfig.smsApiEndpoint.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{sMSConfig.authKey.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{sMSConfig.senderNumber.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{sMSConfig.deleteAt.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{sMSConfig.notificationTypeID.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="sMSConfig : ${sMSConfigs}" class="odd:bg-gray-100">
                            <td class="p-2">[[${sMSConfig.configId}]]</td>
                            <td class="p-2">[[${sMSConfig.smsApiEndpoint}]]</td>
                            <td class="p-2">[[${sMSConfig.authKey}]]</td>
                            <td class="p-2">[[${sMSConfig.senderNumber}]]</td>
                            <td class="p-2">[[${sMSConfig.deleteAt}]]</td>
                            <td class="p-2">[[${sMSConfig.notificationTypeID}]]</td>
                            <td class="p-2">
                                <div class="float-right whitespace-nowrap">
                                    <a th:href="@{/sMSConfigs/edit/{configId}(configId=${sMSConfig.configId})}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{sMSConfig.list.edit}]]</a>
                                    <form th:action="@{/sMSConfigs/delete/{configId}(configId=${sMSConfig.configId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="inline">
                                        <button type="submit" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{sMSConfig.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
